/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 18, 2014, 1:40:42 PM
    Author     : Lewis
*/


/* remove outline around tab links on firefox */
.nav-tabs > .active > a, 
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
    outline:none;
}

.searchbar {
    float:left;
    margin-left: 10px; 
}

th.tablesorter-header {   
    cursor: pointer;
} 

#footer {
    background-color: #F5F5F5;
    z-index: 0;
}

body { 
    padding-bottom: 70px; 
}

.jumbotron {
    padding-bottom: 0px;
}

#credits {
    margin: 20px 0;
}

.capitalize {
    text-transform: capitalize;
}

#error-panel {
    position: fixed;
    top: 70px;
    right: 10px;
}